@page
@model My.Razor.Study.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentModel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentModel[0].StuNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentModel[0].BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <h3>页面其他标签的绑定</h3>
    <form  method="post">
        <div>
            <p>文本框模型绑定</p>
            <input type="text" asp-for="Address" />
        </div>

        <div>
            <p>下拉框模型绑定</p>
            <div>
                <select asp-for="GroupNameValue" asp-items="Model.GroupNames">
                    <option value="">All</option>
                </select>
            </div>
        </div>
        <div>
            <input type="submit" value="删除" asp-route-wy="01" asp-page-handler="Delete" />
            <input type="submit" value="创建" asp-page-handler="Create" />
        </div>
    </form>
    

</div>