@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Docs.DependencyInjection.Sample.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <dl>
        <dt>Transient</dt>
        <dd>@Model.OperationTransient.OperationId</dd>

        <dt>Scoped</dt>
        <dd>@Model.OperationScoped.OperationId</dd>

        <dt>Singleton</dt>
        <dd>@Model.OperationSingleton.OperationId</dd>

        <dt>Instance</dt>
        <dd>@Model.OperationSingletonInstance.OperationId</dd>
    </dl>


    <h3>OperationService Operations</h3>
    <dl>
        <dt>Transient</dt>
        <dd>@Model.OperationService.TransientOperation.OperationId</dd>
        <dt>Scoped</dt>
        <dd>@Model.OperationService.ScopedOperation.OperationId</dd>
        <dt>Singleton</dt>
        <dd>@Model.OperationService.SingletonOperation.OperationId</dd>
        <dt>Instance</dt>
        <dd>@Model.OperationService.SingletonInstanceOperation.OperationId</dd>
    </dl>


    <form method="post">
        <input type="text" asp-for="Student.Name" />
        <input type="submit" value="提交" />
    </form>
</body>
</html>
